<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>744BF0D21F53F0F1007946BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744BF0EB1F53F0F2007946BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744BF0F61F53F0F2007946BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
